<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
	<head>
		<title><%= full_title(yield(:title))%></title>
		<%= stylesheet_link_tag		"application", media: "all" %>
		<%= javascript_include_tag	"application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<!-- this is kind of ugly, but allows us to show anything stored in the special "flash" hash -->
			<!-- NB that it doesn't actually show errors, only the confirmation message styled with the "success" class. -->
			<% flash.each do |key, value| %>
			<!-- we can do this a different way, as seen below. 
				<div class="alert alert-<%= key %>"><%= value %></div>
			-->
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<%= yield %>
		</div>	
		<%= render 'layouts/footer'%>	
		<%= debug(params) if Rails.env.development? %>
	</body>
</html>
